/****************************************** GENERAL ******************************************/

* {
  font-size: 45px;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  background-image: url("C:\software-projects\personal-projects\projects\wordle-clone\src\img\view.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");
img {
  width: 100%;
  height: 100%;
}
.container {
  margin: 0;
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
}

/****************************************** BOARD ******************************************/

.board {
  padding: 15px;
  height: 100%;
  width: 40%;
  padding-top: 0;
  border-radius: 20px;
  display: inline-block;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.board h1 {
  margin-top: 50px;
}

.boardHeader {
  font-family: "Yellowtail", cursive;
  color: chocolate;
  font-weight: bolder;
  height: 15%;
  margin-bottom: 25px;
}

.boardHeader h1 {
  font-size: 60px;
}

.nav {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 20px;
  top: 20px;
}

.navLine {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.navLine span {
  font-size: 20px;
}

.howToPlayButton {
  position: absolute;
  right: 150px;
  top: 20px;
}

.howToPlayButton button {
  cursor: pointer;
  background-color: grey;
  padding: 10px;
  border-radius: 20px;

  margin: 0;
  color: white;
  text-decoration: none;
  font-size: 22px;
}

.howToPlay {
  text-align: center;
  height: 60%;
  padding: 50px;
  position: absolute;
  background-color: gray;
  border: 4px solid white;
  border-radius: 30px;
  color: white;
  opacity: 1;
}

.howToPlay h1 {
  color: #ababab;
  color: cornflowerblue;
}

.howToPlay h1,
p,
button {
  font-size: 40px;
}

.howToPlay button {
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 30px;
  padding: 10px 20px;
  border-radius: 15px;
  background-color: blueviolet;
  color: white;
}

.grid {
  margin: 7px;
  height: 60%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.gameWon {
  text-align: center;
  padding: 50px;
  padding-top: 25px;
  height: 45%;
  position: absolute;
  background-color: green;
  border: 4px solid white;
  border-radius: 30px;
  color: white;
  opacity: 1;
}

.gameWon h1 {
  color: #ababab;
}

.gameWon h1,
.gameWon p {
  font-size: 30px;
}

.gameWon button {
  font-size: 25px;
}

.gameWon button:hover {
  background-color: darkgoldenrod;
}

.gameLost {
  text-align: center;
  padding: 50px;
  height: 60%;
  position: absolute;
  background-color: red;
  border: 4px solid white;
  border-radius: 30px;
  color: white;
  opacity: 1;
}

.gameLost h1 {
  color: #ababab;
  color: cornflowerblue;
}

.gameLost h1,
.gameLost p {
  font-size: 30px;
}

.gameLost button {
  margin-top: 20px;
  font-size: 25px;
}

.redBox,
.blueBox,
.greenBox {
  width: 70px;
  height: 70px;
  display: inline-block;
  margin-left: 20px;
}

.redBox {
  background-color: brown;
}

.blueBox {
  background-color: cadetblue;
}

.greenBox {
  background-color: green;
}

.form {
  height: 30%;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.textBox {
  padding: 10px;
  border-radius: 20px;
  border: 0.5px solid slategrey;
  height: 60px;
  width: 300px;
  margin-right: 30px;
  background-color: cadetblue;
  color: white;
}

.footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  background-color: grey;
  opacity: 1;
  width: 100%;
  height: 5%;
  color: white;
  height: 20;
  font-size: 30px;
  padding: 5px 0;
  font-weight: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
}

.icons {
  color: white;
}

/****************************************** LINE ******************************************/

.line {
  display: flex;
  gap: 10px;
}

/****************************************** BOX ******************************************/

.box {
  background-color: rgb(220, 214, 214);
  background-color: white;
  font-weight: bold;
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  opacity: 1;
}

.success {
  background-color: green;
}

.found {
  background-color: cadetblue;
}

.fail {
  background-color: brown;
}

.button {
  color: black;
  font-weight: bold;
  padding: 15px;
  background-color: burlywood;
  font-size: 25px;
  border-radius: 20px;
}

.button:hover {
  cursor: pointer;
  background: #383;
  color: white;
}

.button:disabled {
  background-color: burlywood;
  color: white;
  color: #ababab;
  cursor: default;
}

@media (max-width: 992px) {
  .board {
    display: flex;
    flex-direction: column;
    gap: 100px;
  }

  .info {
    top: 20px;
    right: 50px;
  }
  .gameWon,
  .gameLost {
    width: 65%;
  }
}
